Source: TBX
Version: 0.7.5-1
Section: Library
Priority: Optional
Maintainer: Alan Buckley <alan_baa@hotmail.com>
Standards-Version: 0.4.0
Licence: Free
Environment: arm
Homepage: https://sites.google.com/site/alansriscosstuff/tbx
Description: A C++ library to create applications using the RISC OS Toolbox
 This library is provided in ELF format and although functional enough to write many applications is incomplete.

Package: TBX-Dev
Components: Apps.Library.!TBX (Movable)
