# Rules for creating the TBX library

VERSION = 0.7.6-1
PACKAGES = \
 TBX-Dev_$(VERSION)
INSTALL_TO=Temp/Apps/Library

# Detect host
HOST := $(shell uname -s)
ifeq ($(HOST),)
  # Assume RISC OS
  HOST := riscos
else
  ifeq ($(HOST),RISC OS)
    HOST := riscos
  endif
endif

ifeq ($(HOST),riscos)
TOOL_PATH=""
ZIP=zip
else
TOOL_PATH=$(GCCSDK_INSTALL_ENV)/bin/
ZIP=$(GCCSDK_INSTALL_ENV)/ro-path ../unix-zip
endif

all: build pkg

cross: build pkg-cross

build:
	make all

pkg:
	rm -rf Temp
	mkdir -p Temp/RiscPkg
	mkdir -p $(INSTALL_TO)
	cp RiscPkg/Copyright Temp/RiscPkg	
	cp -rf !TBX $(INSTALL_TO)
	set UnixEnv$$cp$$sfix f:for:F:fpp:cc:cxx:cpp:c++:C:i:ii:rpo:c:m:h:hh:s:S:xrb:xrs:l:o:y:tcc:cmhg:adb:ads:ali
	mkdir -p $(INSTALL_TO)/!TBX/tbx
	cp -rf tbx/*.h $(INSTALL_TO)/!TBX/tbx
	mkdir -p $(INSTALL_TO)/!TBX/tbx/doc
	cp -rf tbx/doc/*.h $(INSTALL_TO)/!TBX/tbx/doc
	mkdir -p $(INSTALL_TO)/!TBX/tbx/ext
	cp -rf tbx/ext/*.h $(INSTALL_TO)/!TBX/tbx/ext
	mkdir -p $(INSTALL_TO)/!TBX/tbx/ext/res
	cp -rf tbx/ext/res/*.h $(INSTALL_TO)/!TBX/tbx/ext/res
	mkdir -p $(INSTALL_TO)/!TBX/tbx/view
	cp -rf tbx/view/*.h $(INSTALL_TO)/!TBX/tbx/view
	mkdir -p $(INSTALL_TO)/!TBX/tbx/res
	cp -rf tbx/res/*.h $(INSTALL_TO)/!TBX/tbx/res
	cp libtbx.a $(INSTALL_TO)/!TBX
	cp -R docs/html $(INSTALL_TO)/!TBX/html/refguide
	cp -R userguide/html $(INSTALL_TO)/!TBX/html/userguide
	make -C Temp -f ../RiscPkg/Rules $(PACKAGES)
	set UnixEnv$$rm$$sfix f:for:F:fpp:cc:cxx:cpp:c++:C:i:ii:rpo:c:m:h:hh:s:S:xrb:xrs:l:o:y:tcc:cmhg:adb:ads:ali
	# rm -rf Temp

.PHONY: $(PACKAGES)
$(PACKAGES):
	$(TOOL_PATH)riscpkg-gencontrol $(firstword $(subst _, ,$@)) < ../RiscPkg/Control > RiscPkg/Control
	rm -f ../RiscPkg/$@
	$(ZIP) -r ^.RiscPkg.$(subst .,/,$@) * -i@^.RiscPkg.$(firstword $(subst _, ,$@))/inc
